@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(247, 216, 127);
  --secondary-color: rgb(208, 49, 30);
  --text-color: rgb(38, 38, 38);
  --background-color: rgb(247, 241, 222);
  --main-font: "Nunito Sans", sans-serif;
  --border-radius: 10px;
}
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}
.menu-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.4s;
}
.menu-img:hover {
  transform: translateY(0.5rem);
}
.menu-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}
.menu-card {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  text-align: center;
}
.menu-name {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  background-color: var(--secondary-color);
  margin: 0 4rem;
  border-radius: var(--border-radius);
}
.menu-price {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 700;
}
.menu-qty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-size: 1.75rem;
  align-items: end;
  margin-bottom: 0.75rem;
  font-weight: 700;
}
.menu-qty span {
  display: inline-block;
  cursor: pointer;
  aspect-ratio: 1/1;
}
