@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(247, 216, 127);
  --secondary-color: rgb(208, 49, 30);
  --text-color: rgb(38, 38, 38);
  --background-color: rgb(247, 241, 222);
  --main-font: "Nunito Sans", sans-serif;
  --border-radius: 10px;
}
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}
.menu-card {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.menu-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}
